In [45]:
import os
os.getcwd()

'C:\\Users\\ASUS'

In [46]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
import re
import pandas as pd

In [48]:
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [49]:
data = pd.read_csv("tripadvisor_hotel_reviews.csv")

In [50]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [51]:
# Converting Text to Lowercase
data['review_lowercase'] = data['Review'].str.lower()

In [52]:
#Removing Stopwords (Except “not”)
en_stopwords = stopwords.words('english')
en_stopwords.remove("not")

In [53]:
data['review_no_stopwords'] = data['review_lowercase'] \
.apply(lambda x: ' '.join([word for word in x.split() if word not in
en_stopwords]))

In [55]:
#Replacing Special Characters (Punctuation Cleaning)
data['review_no_stopwords_no_punct'] = data.apply(
lambda x: re.sub(r"[*]", "star", x['review_no_stopwords']), axis=1)

data['review_no_stopwords_no_punct'] = data.apply(
lambda x: re.sub(r"([^\w\s])", "", x['review_no_stopwords_no_punct']), axis=1)

In [56]:
#Tokenization – Splitting Text into Words
data['tokenized'] = data.apply(
lambda x: word_tokenize(x['review_no_stopwords_no_punct']), axis=1)

In [61]:
#Stemming– Reducing Words to Root Forms
ps=PorterStemmer()
data['stem']=data['tokenized'].apply(lambda tokens: [ps.stem(token) for token in tokens])

In [62]:
#Lemmatization – Meaningful Root Forms
le = WordNetLemmatizer()
data["lemmatized"] = data["tokenized"].apply(lambda tokens:
[le.lemmatize(token) for token in tokens])

In [63]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized,stem,lemmatized
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s...","[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi...","[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...,"[nice, rooms, not, 4star, experience, hotel, m...","[nice, room, not, 4star, experi, hotel, monaco...","[nice, room, not, 4star, experience, hotel, mo..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...","[uniqu, great, stay, wonder, time, hotel, mona...","[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."

In [64]:
tokens_clean=sum(data['lemmatized'], [])

In [68]:
#N-grams
unigrams= pd.Series(nltk.ngrams(tokens_clean, 1)).value_counts()

In [69]:
bigrams = pd.Series(nltk.ngrams(tokens_clean, 2)).value_counts()

In [70]:
ngrams_4 = pd.Series(nltk.ngrams(tokens_clean, 4)).value_counts()

____________END_______________